[Desktop Entry]
Version=HEAD
Type=Application
Name=Openambit
Comment=Open source synchronization for Suunto Ambit series
TryExec=openambit
Exec=openambit
Icon=openambit
Categories=Utility;Education;Sports
