[Desktop Entry]
Version=0.2
Type=Application
Name=Openambit
Comment=Open source synchronization for Suunto Ambit series
TryExec=openambit
Exec=openambit
Icon=openambit
Categories=Utility;SyncUtility
