# Rules for Suunto Ambit devices
# Change permissions so that libambit can communicate with these
# devices for any user.

ACTION!="add", GOTO="openambit_rules_end"
ATTR{idVendor}!="1493", GOTO="openambit_rules_end"

LABEL="openambit_rules_begin"

# Bluebird (a.k.a Suunto Ambit)
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0010", ENV{openambit}="yes"

# Duck (a.k.a Suunto Ambit2)
SUBSYSTEMS=="usb", ATTRS{idProduct}=="0019", ENV{openambit}="yes"

# Colibri (a.k.a Suunto Ambit2 S)
SUBSYSTEMS=="usb", ATTRS{idProduct}=="001a", ENV{openambit}="yes"

# Emu (a.k.a Suunto Ambit3 Peak)
SUBSYSTEMS=="usb", ATTRS{idProduct}=="001b", ENV{openambit}="yes"

# Finch (a.k.a Suunto Ambit3 Sport)
SUBSYSTEMS=="usb", ATTRS{idProduct}=="001c", ENV{openambit}="yes"

# Greentit (a.k.a Suunto Ambit2 R)
SUBSYSTEMS=="usb", ATTRS{idProduct}=="001d", ENV{openambit}="yes"

# Ibisbill (a.k.a Suunto Ambit3 Run)
SUBSYSTEMS=="usb", ATTRS{idProduct}=="001e", ENV{openambit}="yes"

# Jabiru (a.k.a Suunto Traverse)
SUBSYSTEMS=="usb", ATTRS{idProduct}=="002b", ENV{openambit}="yes"

# Kaka (a.k.a Suunto Ambit3 Vertical)
SUBSYSTEMS=="usb", ATTRS{idProduct}=="002c", ENV{openambit}="yes"

# ? (a.k.a Suunto Traverse Alpha)
SUBSYSTEMS=="usb", ATTRS{idProduct}=="002d", ENV{openambit}="yes"

ENV{openambit}=="yes", MODE="0666", OWNER="root", GROUP="root"

LABEL="openambit_rules_end"
