Source: openambit
Priority: extra
Maintainer: Emil Ljungdahl <emil@openambit.org>
Build-Depends: debhelper (>= 9), cmake (>= 2.8.5), libudev-dev, libqjson-dev, zlib1g-dev,
 libambit-dev (= 0.2-1), libqt4-dev
Standards-Version: 3.9.4
Section: utils
Homepage: http://openambit.org/
#Vcs-Git: git://git.debian.org/collab-maint/openambit.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/openambit.git;a=summary

Package: openambit
Architecture: any
Depends: libudev1, libqjson0, zlib1g, libambit0 (= 0.2-1),
 libqt4-core, libqt4-gui, libqt4-network, ${shlibs:Depends}, ${misc:Depends}
Description: Synchronize your Suunto Ambit series device
 Openambit is GUI application for synchronizing the Suunto Ambit series
 of devices with your PC and Suuntos cloudservice movescount.com
